name: Daily_Model_Training

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:      

jobs:
  train_and_predict:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "hopsworks[python]"
          pip install -r requirements.txt

      - name: Run Training Pipeline
        env:
          MY_HOPSWORK_KEY: ${{ secrets.MY_HOPSWORKS_KEY }}
          HSFS_DISABLE_FLIGHT_CLIENT: "True" 
        run: python pipelines/training_pipeline.py
